
.header-container {
  align-items: center;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 0 0 0;
  padding: 2% 0% 0% 0%;
  width: 100vw;
}

h1 {
  margin: 0%;
  width: 100%;
  font-size: 450%;
  color: hsl(0, 0%, 100%);
}

h2 {
  margin: 0%;
  width: 100%;
  font-size: 100%;
  color: hsla(208, 100%, 97%, 0.733);
}

h2.role-1 {
  font-family: 'Grape Nuts', cursive;
  margin: 0%;
  width: 100%;
  font-size: 100%;
  color: hsla(208, 100%, 97%, 0.733);
}

h2.role-2 {
  font-family: 'Grape Nuts', cursive;
  margin: 0%;
  width: 100%;
  font-size: 100%;
  color: hsla(208, 100%, 97%, 0.733);
}

p {
  display: flex;
  flex-direction: row;
  margin: 0%;
  font-size: 200%;
  color: #548CA8;
}