.header-container {
  display: flex;
  flex-direction: row;
}

.header-wallpaper-container {
  width: 460px;
  height: 460px;
  margin: 2% 0% 0% 3%;
  background: url('../../images/IMG_3800.webp') no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  border-radius: 100%;
  -webkit-box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.055);
  box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.459);
  transition: 1s;
}

.header-wallpaper-container:hover {
  width: 475px;
  height: 475px;
  margin: 2% 0% 0% 3%;
  transition-timing-function: ease;
}

h1 {
  margin: 10% 0% 0% 5%;
  width: 100%;
  font-size: 450%;
  color: hsl(0, 0%, 100%);
}

h3 {
  margin: 0% 10% 0% 5%;
  width: 100%;
  font-size: 200%;
  color: hsla(208, 100%, 97%, 0.733);
}

p {
  display: flex;
  flex-direction: row;
  margin: 15% 10% 5% 5%;
  font-size: 200%;
  color: hsl(0, 0%, 100%);
}

.templates-literals {
  margin: 0% 0% 0% 0%;
  font-size: 100%;
  color: rgb(245, 255, 101);
}

.names-container {
  width: 63%;
  background-color: #20151d;
  -webkit-box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.055);
  box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.459);
  margin: 3% 3% 2% 3%;
}


@media screen and (max-width: 600px) {

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 10px;
  }

  .header-wallpaper-container {
    border-radius: 20px;
    height: 250px;
    margin: 5px 0px 0px 5px;
    padding: 0px 0px 0px 60px;
  }

  h1 {
    font-size: 190%;
    width: 150px;
    margin: 5% 3% 0% 5%;
  }

  h3 {
    font-size: 70%;
    margin: 4% 0% 0% 5%;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 5% 10% 5%;
    font-size: 70%;
    color: hsl(0, 0%, 100%);
  }

  .templates-literals {
    font-size: 210%;
    color: rgb(245, 255, 101);
  }

  .names-container {
    margin: 0% 0% 0% 0%;
    background-color: #20151d;
    -webkit-box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.055);
    box-shadow: -11px 12px 5px -2px rgba(0, 0, 0, 0.459);
    margin: 3% 5% 2% 5%;
  }
}